body {
  font-family: Tahoma, Arial, sans-serif;
  text-align: center;
  background-image: url("images/background.jpg"); /* اسم صورة الخلفية */
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}
